version: "3.8"

services:
  db:
    image: postgres:18
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: vehicle_fault_db
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql

  app:
    build: .
    depends_on:
      - db
    environment:
      DATABASE_URL: "postgresql+psycopg2://postgres:postgres@db:5432/vehicle_fault_db"
    ports:
      - "8000:8000"

volumes:
  pg_data:
